<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="ch3style.css">
<title>My Traditional Game</title>
</head>
<body>

  <!-- Halaman satu bagian navbar-->

  
  <div class="Container pictpage1">
      <nav class="navbar navbar-expand-lg navbarcolor putih">
    <div class="container-fluid">
      <div class="navbar-brand putih my-1 fs-30" href="#">LOGO</div>
      <div class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div class="nav-link active putih my-1 fs-25" aria-current="page" href="#">HOME</div>
          </li>
          <li class="nav-item">
            <div class="nav-link putih my-1 fs-25" href="#">WORK</div>
          </li>
          <li class="nav-item">
            <div class="nav-link putih my-1 fs-25" href="#">CONTACT</div>
            <li class="nav-item">
              <div class="nav-link putih my-1 fs-25" href="#">ABOUT ME</div>
            </li>
          </li>
        </ul>
        <li class="d-flex">
          <div class="putih my-1 fs-25" type="submit">SIGN UP</div>
          </Li>
        <div class="d-flex">
        <div class="putih my-1 fs-25" type="submit">LOGIN</div>
        </div>
      </div>
    </div>
  </nav>

  
<!-- Halaman satu bagian tengah-->
  <p class="text-center fs-20 fw-bold mx-1 putih">PLAY TRADITIONAL GAME</p>
  <p class="text-center mx-2 putih fs-25">Experience new traditional game play</p>
  <div class="text-center mx-2">
    <a href="../views/indexch4.ejs" type="button" class="btn btn-warning fs-25">TRIAL</a>
  </div>
 

<!-- Halaman satu bagian bawah-->
<div class="text-center">
  <p class="text-center fs-7 putih mx-6">THE STORY</p>
  <div class = "mx-3" text-align="center"><svg id=svgMaine xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-caret-down" viewBox="0 0 16 16">
   <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659  4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
 </svg>  
</div>
</div>
</div>

<!-- Halaman satu bagian bawah-->

<div class="container-fluid pictpage2">
    <div class="col">
      <p class="special-1 putih ft-1 fs-25">What's so special?</p>
    </div>
  <div class="row">
    <div class="col">
      <p class="fs-80 special-2 putih">THE GAMES</p>
    </div>
    <div class="col-2 putih">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner rock-1">
          <div class="carousel-item active">
            <img src="./assets/rockpaperstrategy-1600.jpg" class="d-block w-100 " alt="GUNTING">
          </div>
          <div class="carousel-item">
            <img src="./assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="KERTAS">
          </div>
          <div class="carousel-item">
            <img src="./assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="BATU">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-1 putih">
      
    </div>
  </div>
  <div class="col">
    <p class="special-3"></p>
  </div>
</div>

<!-- Halaman tiga-->


<div class="container-fluid pictpage3">
    <div class="container right">
      <div class="row justify-content-end">
        <div class="col"></div>
        <div class="col-9 my-4">
          <p class="putih mx-8 fs-25">What's so special?</p>
          <p class="putih fs-80">FEATURES</p>
        <ul>
          <li class="kuning mb-1 fs-30">TRADITIONAL GAMES</li>
            <p class="putih fs-25 mb-4">If you miss your childhood, provide many traditional games here</p>
          <li class="kuning fs-30 mb-4">GAME SUIT</li>
          <li class="kuning pt-3 fs-30">TBD</li>
        </ul>
       </div>
    </div>
  </div>
</div>

<!--Halaman empat-->

<div class="container-fluid pictpage4">
  <div class="row">
    <div class="col pt-4">
    <p class="text-center putih fs-25">Can My Computer Run this game?</p>
    </div>
  </div>
  <div class="col-6">
  <p class="putih fs-80 my-5 mb-1 mt-2">SYSTEM REQUIREDMENTS</p>
  </div> 
  
  
  <div class="col-4 my-5 bordered">
    
    <table class="table table bordered border">
      <tr>
      <td>
        <p class="kuning fs-25">OS:</p>
        <p class="putih fs-20">Windows 7 64-bit only (No OSX support at this time</p>
      </td> 
      <td>
      <p class="kuning fs-25">PROCESSOR:</p>
      <p class="putih fs-20">Intercore 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
    </td>
    </tr>
    <tr>
      <td>
        <p class="kuning mb-1 fs-25">mEMORY:</p>
        <p class="putih fs-20">4 GB RAM</p>
      </td>
      <td>
      <p class="kuning mb-1 fs-25">storage:</p>
      <p class="putih fs-20">8 GB available space</p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
      <p class="kuning mb-1 fs-25">GRAPHICS:</p>
      <p class="putih mb-1 fs-20">NVIDIA GeForce GTX 660 2GB or</p>
      <p class="putih fs-20">AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
      </td>
    </tr>
</table>
</div>
</div>

<!--Halaman lima-->

<div class="container-fluid pictpage5">
  <div class="container center">
    <div class="row">
        <div class="col putih"></div>
        <div class="col-5 putih"></div>
        <div class="col-5 putih mr-1 card">
          <div class="col"></div>
          <h class="kuning fs-25">Evan Lahti</h>
          <p class="tc-1 mr-6">PC Gamer</p>
          <h6 class="putih mr-6">One of my gaming highlights of the year."</h6>
          <p class="tc-1">October 18, 2018</p>
        </div>
    </div>

    <div class="row align-items">
      
        <div class="col">
          <h1 class="fs-80">TOP SCORES</h1>
          <p class="mr-5">This top score from various games provided on this platform</p>
          <button type="button" class="btn btn-warning col-5 fw-bold">SEE MORE</button>
        </div>
        <div class="col-5 putih mr-2 card">
          <div class="col"></div>
          <h class="kuning fs-25">Jada Griffin</h>
          <p class="tc-1 mr-6">Nerdreactor</p>
          <h6 class="putih mr-6">The next big thing in the world of streaming and survival games."</h6>
          <p class="tc-1">December 21, 2018</p>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col putih"></div>
        <div class="col putih"></div>
        <div class="col-5 mr-1 card">
          <h class="kuning fs-25">Aaron Williams</h>
          <p class="tc-1 mr-6">Uproxx</p>
          <h6 class="putih mr-6">Snoop Dogg Playing The Wildly Entertaining 'SOS Is Ridiculous'."</h6>
          <p class="tc-1">December 24, 2018</p>
        </div>
    </div>

  </div>
</div>  



<div class="container-fluid pictpage6">
  <div class="row">
        <div class="putih col-3"></div>
        <div class="putih col center-1">
          <p class="touchstyle">Want to stay touch?</p>
          <h1 class="mr-3">NEWSLETTER SUBSCRIBE</h1>
          <p class="orderstyle">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care by us. We will send you emails containing information about game. We dont't spam</p>
          
          
        <div class="row g-2">
          <div class="col-md">
              <div class="form-floating">
                <input type="email" class="form-control latar card-1 kuning" id="floatingInputGrid" placeholder="youremail@binar.co.id" value="youremail@binar.co.id">
                <label for="floatingInputGrid"> Your Email address</label>
              </div>
          </div>
          <div class="col-md">
              <div class="form-floating">
                <button type="button" class="btn btn-warning col-7">SUBSCRIBE NOW</button>
              </div>
          </div>
        </div>
        </div>
         
    <footer class="container">
        <footer class="row borderbawah mr-4">
              <footer class="col-8"></footer>
              <footer class="col-6">
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link putih" href="#">MAIN</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link putih" href="#">ABOUT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link putih" href="#">GAME FEATURES</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link putih">SYSTEM REQUIREDMENTS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link putih">QUOTES</a>
                    </li>
                  </ul>
              </footer>
              <footer class="col-8marginfooter-1"></footer>
        </footer>
              
        <footer class="row mr-4">
          <footer class="col-9">
          <p class="blurwhite">@ 2018 Your Games, Inc. All Rights Reserved</p>
          </footer>
          <footer class="col-9 text-end">
          <p class="putih">PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p>
          </footer>
       </footer>

    </footer>       
  </div>
</div>

    
</body>
</html>



